</main>
<footer>
  <section class="cf bg-dark-slate-gray h-100 center">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-20-ns tc pa2 pv4">
    <! -- logo was ere -->
        </div>
      </div>
    </div>
  </section>

  <section class="w-100 tc bg-white pa3 center">
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://github.com/IrisBox/gewitt-hring" title="GitHub">
      <img src="{{ site.baseurl }}/images/svg/github-logo.svg" alt="Github Logo" class="black" width="32" height="32">
    </a>
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://twitter.com/camdiglib" title="Twitter">
      <img src="{{ site.baseurl }}/images/svg/twitter-logo.svg" alt="Twitter Logo" class="black" width="32" height="32">
    </a>
  </section>
  <section class="w-100 tc bg-white pa3 center">

    <small class="f6 db tc">
      © {{ 'now' | date: "%Y" }} Andrew Corrigan
      <a href="https://github.com/FitzwilliamMuseum/walking-the-landscape-fitz-cdh" class="f6 dib ph2 link cherry dim">Code GPLv3</a>  
    </small>
    <div class="tc mt3">
      <a class="f6 dib ph2">Original content in this work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"/></a> <br>
      <a class="f6 dib ph2"><em>Exceptions: quotations and embeds to and from external sources.</em></a> <br>  
    </div>
    <div class="tc mt3">
      <a href="https://www.fitzmuseum.cam.ac.uk/about-us/terms-of-use-of-our-website" title="Terms" class="f6 dib ph2 link cherry dim">Terms of Use</a>
      <a href="https://www.fitzmuseum.cam.ac.uk/about-us/privacy-and-cookies"  title="Privacy" class="f6 dib ph2 link cherry dim">Privacy</a>
    </div>
  </section>
</footer>
{% if page.geojson %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script type="text/javascript">

  var OSM = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  });

  var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
  	attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
  });

  var map = new L.Map('map', {
    fullscreenControl: {
        pseudoFullscreen: false
    },
    scrollWheelZoom: false,
    layers: [OSM,Esri_WorldImagery]
  });

  var layers = {
      "OSM": OSM,
      "ESRI World": Esri_WorldImagery
  };
  var layerControl = L.control.layers(layers).addTo(map);

  $.getJSON("/geojson/{{ page.geojson }}",function(data){
   var geoJSON =  L.geoJson(data, {
      onEachFeature: function (feature, layer) {
        if (feature.properties && feature.properties.name) {
            layer.bindPopup('<a href="' + feature.properties.link + '">' + feature.properties.name + '</a>');
        }
        if (feature.properties && feature.properties.label) {
            layer.bindPopup('<a href="' + feature.properties.link + '">' + feature.properties.label + '</a>');
        }
    }
    }).addTo(map);
    map.fitBounds(geoJSON.getBounds());

  });

</script>
{% endif %}
{% if page.slowManifest %}
{% include slow-viewer.html %}
{% endif %}
<script defer type="text/javascript" src="{{site.baseurl}}/js/config.js"></script>
<script defer type="text/javascript" src="https://cdn.kiprotect.com/klaro/v0.7.18/klaro.js"></script>
{% if page.audio %}
<script defer src="https://cdn.plyr.io/3.7.2/plyr.js"></script>

<script defer type="text/javascript" src="{{site.baseurl}}/js/plyr.js"></script>

{% endif %}
</body>

</html>
