
// Converted Variables


// Custom Media Query Variables


/*

   GRADIENTS


*/

.gradient-blue { 
  background-image: linear-gradient(#4570B0, #0081C2);
}

.gradient-blue-reversed { 
  background-image: linear-gradient(#0081C2, #4570B0);
}

.gradient-light-blue { 
  background-image: linear-gradient(#76D3FE, #008AE0);
}

.gradient-light-blue-reversed { 
  background-image: linear-gradient(#008AE0, #76D3FE);
}

background: rgb(82,46,49);
background: linear-gradient(140deg, rgba(82,46,49,1) 0%, rgba(0,128,128,1) 100%); 

.gradient-dgr-t { 
  background-image: linear-gradient(#522e31, #008080);
}

