// Add your custom variables to this file
// I normally prepend them with a 'c-' to distinguish them from Tachyons selectors

// Better sans-serif stack putting Segoe before Arial on Windows
// We'll refer to this variable in _c.scss
$c-sans-serif: -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
/******************************** TACHYONS Customization *******************************/


$creme: #FFF9EB;
$strong-cyan: #00B1C1;
$dark-cyan: #333333;
$ink: #2B2B2E;
$white: #FFF;

$colors: (
  "creme": $creme,
  "strong-cyan": $strong-cyan,
  "dark-cyan": $dark-cyan,
  "ink": $ink,
  "white": $white
);

:root {
  --creme: #{$creme};
  --strong-cyan: #{$strong-cyan};
  --dark-cyan: #{$dark-cyan};
  --ink: #{$ink};
  --white: #{$white};
}

/* Generate atomic classes based on custom colors,
   Credits to James Chambers https://jameschambers.co/writing/tachyons-custom-colours/
*/
@each $name, $hex in $colors {
  .#{$name} {
    color: $hex;
    &:visited {
      color: $hex;
    }
  }
  .bg-#{$name} {
    background-color: $hex;
  }
  .b--#{$name} {
    border-color: $hex;
  }
  .hover-bg-#{$name} {
    &:focus,
    &:active,
    &:hover {
      background-color: $hex;
    }
  }
  .hover-#{$name}:hover,
  .hover-#{$name}:visited:hover {
    color: $hex;
  }
}

html, body {
  font-family: "Open Sans", sans-serif;
}

.serif {
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
}
.sans-serif {
  font-family: "Open Sans", sans-serif;
}

a {
  color: map-get($colors, 'green');
}

.mt-2 { margin-top: -0.5rem }
